.header {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  width: 92.5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1126px) {
  .header {
    width: 90.625%;
  }
}

@media screen and (max-width: 986px) {
  .header {
    width: 93.75%;
  }
}

@media screen and (max-width: 570px) {
  .header {
    width: 90%;
  }
}
