.content {
  display: grid;
  width: 100%;
  grid-row-gap: 92px;
}

@media screen and (max-width: 986px) {
  .content {
    grid-row-gap: 88px;
  }
}

@media screen and (max-width: 570px) {
  .content {
    grid-row-gap: 64px;
  }
}

