.content__intro {
  box-sizing: border-box;
  padding: 0 442px 0 148px;
  width: 100%;
}

@media screen and (max-width: 1270px) {
  .content__intro {
    padding: 0 calc(100% - 11.563% - 690px) 0 11.563%;
  }
}

@media screen and (max-width: 1200px) {
  .content__intro {
    padding: 0 calc(100% - 4.688% - 690px) 0 4.688%;
  }
}

@media screen and (max-width: 768px) {
  .content__intro {
    padding: 0 3.125%;
  }
}

@media screen and (max-width: 570px) {
  .content__intro {
    padding: 0 5%;
  }
}
