.lead__subtitle {
  margin: 0 0 64px 0;
  padding: 0 17.48%;
  box-sizing: border-box;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1220px) {
  .lead__subtitle  {
    margin: 0 0 56px 0;
    padding: 0 20%;
  }
}

@media screen and (max-width: 1200px) {
  .lead__subtitle  {
    margin: 0 0 56px 0;
    padding: 0 25%;
  }
}

@media screen and (max-width: 1100px){
  .lead__subtitle {
    padding: 0 20%;
  }
}

@media screen and (max-width: 850px){
  .lead__subtitle {
    padding: 0 15%;
  }
}

@media screen and (max-width: 740px) {
  .lead__subtitle  {
    padding: 0 5%;
    margin: 0 0 40px 0;
    font-size: calc(0.05*100vw);
    line-height: 1.25;
  }
}

@media screen and (max-width: 400px) {
  .lead__subtitle  {
    padding: 0 5%;
  }
}
