.footer {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  width: 92.5%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 1126px) {
  .footer {
    width: 90.625%;
  }
}

@media screen and (max-width: 986px) {
  .footer {
    width: 93.75%;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: 100%;
    box-sizing: border-box;
    padding: 0 36.875% 0 5%;
    flex-direction: column;
    align-self: flex-start;
  }
}
